#Odin {
  font-family:Copperplate, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  text-align: center;
  color:brown;

}

.recipe {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  color: black;
  background-color: blanchedalmond;

}